<?xml version="1.0"?>
<launch>
    <rosparam param="/num_models">1000</rosparam>
    <rosparam param="/loaded">0</rosparam>
    <node name="grasp_success" pkg="mmp_grasp_detect" type="grasp_success.py" output="screen" />
    <node name="model_depth" pkg="mmp_grasp_detect" type="depth" output="screen" />
    <node name="img2model" pkg="mmp_grasp_detect" type="img2model" output="screen" />
    <node name="grasp" pkg="mmp_grasp_detect" type="grasp" output="screen" />
    <node name="load_models" pkg="mmp_grasp_detect" type="load_model.py" output="screen" />
</launch>
