<?xml version="1.0"?>
<launch>
	<!-- Tell Gazebo where to find our custom object models
	<env name="GAZEBO_MODEL_PATH"
		value="$(find mmp_grasp_detect)/models:$(optenv GAZEBO_MODEL_PATH)"/> -->

	<env name="GAZEBO_MODEL_PATH"
		value="$(find mmp_grasp_detect)/models/acronym:$(optenv GAZEBO_MODEL_PATH)"/> 

    <!-- GAZEBO arguments -->
    <arg name="paused" default="false" />

    <!--launch GAZEBO with own world configuration -->
    <include file="$(find franka_moveit_config)/launch/gazebo.launch">
		<arg name="world_name" value="$(find mmp_grasp_detect)/worlds/mmp_with_object.world" />
        <arg name="paused" value="$(arg paused)" />
	<arg name="verbose" value="False" />
    </include>


	<!-- Launch moveit move group -->
	<include file="$(find franka_moveit_config)/launch/move_group.launch"/>

    <!-- Given the published joint states, publish tf for the robot links -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

	<node name="scene_pub" pkg="mmp_grasp_detect" type="scene_pub" output="screen" />
<!--	<node name="test_quarternion" pkg="mmp_grasp_detect" type="test_quarternion" output="screen" />-->

	<node pkg="tf" type="static_transform_publisher" name="robot_camera_broadcaster" 
		args="0.115 -0.341 0.632 0.443 0.599 -0.001 panda_link0 camera_link 100" />

	<node pkg="tf" type="static_transform_publisher" name="world_object_broadcaster" 
		args="0.711 0.001 0.016 0 0 0 world object 100" />


	<!-- Launch RViz -->
	<node type="rviz" name="rviz" pkg="rviz"
		args="-d $(find mmp_grasp_detect)/config/rviz.rviz"/>

	<!-- Launch colour filter and node to get object pose -->
	<include file="$(find mmp_grasp_detect)/launch/image_proc.launch" />
<!--	<node name="depth" pkg="mmp_grasp_detect" type="depth" output="screen"/> -->

</launch>
